@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #e9e5e5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header .logo a img {
    width: 40px;
}
header .menu-icon {
    font-size: 22px;
    cursor: pointer;
    display: none;
}
header .nav-bar{
    display: flex;
    gap: 30px;
}
header .nav-bar a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}
header .nav-bar a::after {
    content: '';
    width: 0 ;
    height: 3px;
    position: absolute;
    bottom: -9px;
    left : 0 ;
    background-color: #fe5b3d;
    transition: .5s;
}
header .nav-bar a:hover::after {
    width: 100%;
}
header .sign .btn {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
}
header .sign .sign-in {
    background-color:#9435ec ;
    border-radius: 5px ;
    color: #fff;
    transition: 0.3s;
}
header .sign .sign-in:hover {
    background-color: #fe5b3d;
}
.home {
    width: 80%;
    margin: 140px auto;
    background-image: url(car.webp);
    background-repeat: no-repeat;
    background-position: top right ;
}
.home .text {
    margin-top: -20px;
}
.home .text h3 {
    font-size: 50px;
    letter-spacing: 2px;
}
.home .text h3 .looking {
    color: #fe5b3d;
}
.home .text p {
    letter-spacing: 1px;
    padding: 20px 0;
}
.home .text , .home .app  {
    width: 30%;
}
.home .app a img {
    width: 130px;
}
.app {
    display: flex;
}
.home .form {
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e9e5e5;
    padding: 10px;
    border-radius: 15px;
}
.home .form .input {
    display: flex;
    flex-flow: column wrap ;
    margin: 5px;
    flex-grow: 1;
}
.home .form .input input{
    height: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 5px;
    margin: 5px 0;
    width: 150px;

}
.home .form button{
    height: 45px;
    width: 80px;
    background-color: #9435ec;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    flex-grow: 1;
}
.home .form button:hover{
    background-color: #fe5b3d;
}
.heading{
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    line-height: 30px;
}
.heading span{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.ride-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 50px;
}
.ride-content .box{
    min-width: 300px;
    text-align: center;
    margin: 30px;
    width: 25%;
}
.ride-content .box h4{
    font-size: 26px;
    margin: 10px 0;
}
.ride-content .box .bx {
    padding: 13px;
    margin: 10px 0;
    background-color: #e9e5e5;
    font-size: 24px;
    border-radius: 8px;
    color: #fe5b3d;
    transition: 0.3s;
}
.ride-content .box .bx:hover , .ride-content .box .fa-calendar-check {
   background-image: linear-gradient(#fe5b3d,#ffac38);
   color: #fff;
}
.services .box-car {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 50px;
    gap: 20px;
}
.services .box-car .card {
    background-color: #e9e5e5;
    padding: 10px;
    min-width: 300px;
    max-width: 350px;
    border-radius:10px ;
    transition: 1s;
    flex-grow:1 ;
}
.services .box-car .card:hover{
    scale: 1.1;
}
.services .box-car .card .car-img{
    height: 180px;
    width: 100% ;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.services .box-car .card .car-img img {
    width: 100%;
    height: 100%;
}
.year{
    border: #000 2px solid;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.prix{
    padding: 10px 0;
    color: #fe5b3d;
    font-weight: 600;
}
.rentNow{
    width: 100%;
    padding: 13px 0 ;
    border: none;
    border-radius: 8px;
    background-color: #9435ec;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.rentNow:hover{
    background-color: #fe5b3d;
}
.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}
.about-content .about-text{
    width: 30%;
    max-width: 90%;
    flex-grow: 1;
    padding: 10px 40px;
}
.about-content .about-text .about-us{
    color: #fe5b3d;
    font-weight: 600;
}
.about-content .about-text p {
    padding: 20px 0;
}
.about-content .about-text .read-more {
    background-color: #9435ec;
    border: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
}
.about-content .about-text .read-more:hover{
    background-color: #fe5b3d;
}
.reviews-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px;
}
.reviews-box .user-box{
    text-align: center;
    width: 20%;
    min-width: 200px;
    height: 250px;
    box-shadow: 1px 1px 10px #00000092;
    padding: 20px;
    border-radius: 8px;
}
.reviews-box .user-box .user-img{
    height: 60px;
    width: 60px;
    margin: 10px auto;
    border-radius: 50%;
    border: 1px solid #fe5b3d;
}
.reviews-box .user-box .star-icons{
    color: #fe5b3d;
    margin: 20px 0;
}
footer .sub{
    width: 100%;
    background-image:linear-gradient(to right ,#fe5b3d ,#ffac38) ;
    text-align: center;
    padding: 70px 0;
}
footer .sub h3 {
    color: #fff;
}
footer .sub .subscribe {
    background-color: #fff;
    width: fit-content;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
}
footer .sub .subscribe #email {
    background-color: transparent;
    border: none;
    outline: none;
}
footer .sub .subscribe #submit{
    padding: 8px 10px;
    background-color: #9435ec;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
footer .sub .subscribe #submit:hover{
    background-color: #fe5b3d;
}
.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.foot .social-icons{
    display: flex;
    gap: 30px;
    font-size: 30px;
    transition: .2s;
    cursor: pointer;
}
.foot .social-icons i:hover{
    color: #fe5b3d;
}
.signin-form{
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -40%) ;
    min-width: 300px;
    max-width: 500px;
    background-color: #e9e5e59f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #0000009e;
    z-index: 3;
    transition:all 1.2s ease;
    scale: 1.2;
}
.first-form{
    padding: 0;
    min-width: 300px;
    max-width: 500px;
}
.first-form form {
    margin: 40px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #9435ec;
}
.form-content{
    width: 90%;
    height: 200px;
    padding: 20px;
}
.another-method {
    margin-top: 40px;
    width: 95%;
    padding: 10px;
    text-align: center;
}
.another-method .google {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 13px;
    border: #000 2px solid;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: .3s;
}
.another-method .google:hover{
    background-color: #ffffffdd;
}
.signin-form form .fa-circle-xmark{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.signin-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.signin-form form .input-box{
    width: 100%;
    position: relative;
    margin: 10px 0 ;
}
.signin-form form .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 18px;
    color: #9435ec;
}
.signin-form form input{
    width: 90%;
    height: 30px;
    border: none;
    padding: 6px 0;
    padding-left: 35px;
    outline: none;
    border-radius: 8px;
}
.signin-form form input:focus{
    border:2px solid #fe5b3d;
}
.signin-form form input:focus ~ i{
    color: #fe5b3d;
}
.signin-form form .sub .check {
    display: flex;
    align-items: center;
    gap: 5px;
}
.signin-form form .sub{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.signin-form form .subup{
    flex-direction: column;
    font-size: 12px;
    align-items: start;
}
.signin-form form .sub .check .checking  {
    width: 15px;
    accent-color: #9435ec;
    cursor: pointer;
}
.signin-form form .sub .check label{
    cursor: pointer;
    user-select: none;
}
.signin-form form #signin-btn , #signup-btn{
    width: 100%;
    background-color: #9435ec;
    border: none;
    border-radius: 8px;
    height: 35px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
}
.signin-form form #signin-btn:hover{
    background-color: #fe5b3d;
}
.signin-form form #crt{
    display: none;
}
.signin-form form .input-box .eye{
    right: 25px;
    transform: translate(100% , -50%);
    cursor: pointer;
}
.background{
    position: fixed;
    top: 0;
    background-image: linear-gradient(#000000de,#000000c0);
    width: 100%;
    height: 100vh;
    transition: opacity .4s ease;
    opacity: 0;
    z-index: -22;
}
.hide-sign {
    opacity: 1;
    z-index: 2;
}
.attention {
    display: none ;
    color: red;
    font-size: 14px;
    font-weight: 600;

}
.hidden {
    overflow: hidden;
}
.Rent-page{
    z-index: 100;
    margin-top: 100px;
}
.car-picturs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 400px;
}
.car-picturs .big-img {
    height: 100%;
    width: 60%;
    min-width: 200px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #9435ec;
}
.car-picturs .big-img img {
    width: 100%;
}
.car-picturs .small-images{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.car-picturs .small-images .img {
    height: 50%;
    overflow: hidden;
    background-color: #9435ec;
}
#nameOfcar{
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.car-picturs .small-images .one , .one   img{
    border-top-right-radius: 8px;
}
.car-picturs .small-images .two , .two img {
    border-bottom-right-radius: 8px;
}
.car-picturs .small-images .img img{
    width: 100%;   
}
.rent-content{
    display: flex;
    justify-content: space-between;
    gap:20px ;
    margin: 20px 0;
    padding: 0 90px;
}
.rent-content .car-info{
    width: 70%;
}
.rent-content .car-info .car-icons{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(100px,250px));
}
.rent-content .car-info .car-icons .icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.rent-content .car-info .details-car {
    display: flex;
    gap: 30px;
    font-size: 30px;
    margin: 60px 0;
}
.rent-content .car-info .details-car p {
    font-size: 13px;
    padding-left: 8px;
}
.rent-content .aside-content{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rent-content .aside-content .trip {
    width: 100%;
}
.rent-content .aside-content .trip .inputs{
    display: flex;
    align-items: center;
}
.rent-content .aside-content .trip  input {
    height: 30px;
    background-color: none;
    border: #000 1px solid;
    outline: none;
    margin: 5px 0;
    padding: 2px 5px;
    flex-grow: 1;
}
.rent-content .aside-content .trip [type="date"]{
    min-width: 60%;
}
.hide-rent{
    display: none;
}
.back-icon i{
    position: fixed;
    font-size: 40px;
    left: 20px;
    top: 90px;
    cursor: pointer;
    color: #9435ec;
}
.back-icon i:hover{
    color: #fe5b3d;
}
.pick-return h6{
    font-size: 16px;
}
.pick-return input{
    width: 100%;
    height: 30px;
    border: .5px solid #000;
    outline: none;
    padding: 0 5px;
    margin: 3px 0;
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}
.buttons button{
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.buttons #continue{
    background-color: #9435ec;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    transition: .2s;
}
.buttons #continue:hover{
    background-color: #fe5b3d;
}
.buttons .favori{
    font-size: 17px;
    border: .5px solid #000;
}
.alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color: #fff;
    box-shadow: 5px 5px 100px #000;
    text-align: center;
    padding: 50px 20px;
    font-size: 30px;
    border: #fe5b3d 1px solid;
    scale: 1.2;
    transition:all .5s ease;
}
.alert i{
    color:#fe5b3d;
    font-size: 80px;
}
.alert p{
    margin: 30px 0;
}
.alert #ok{
    padding: 10px 20px;
    background-color: #9435ec;
    border: none;
    color: #fff;
    cursor: pointer;
}
.alert #ok:hover{
    background-color: #fe5b3d;
}
.alert-hide{
    opacity: 0;
    z-index: -2000;
}
.scale {
    scale: 1;
}
@media (max-width : 1050px){
    section{
        padding: auto 30px;
    }
}
@media (max-width : 950px){
    .car-picturs .small-images{
        display: none;
    }
    .car-picturs .big-img{
        width: 80%;
        border-radius: 8px;
    }
}
@media (max-width:761px){
    .home  {
        background-position: top right;
        background-size: 80%;
    }
    header{
        padding: 11px 40px;
    }
    header .menu-icon{
        display: initial;
    }
    .sign-up{
        display: none;
    }
    .signin-form form #crt{
        display: block;
        border: 2px solid #9435ec;
        padding: 5px 0;
        margin: 10px 0;
        border-radius:8px;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
    }
    .signin-form form #crt:hover{
        background-color: #9435ec;
    }
    header .nav-bar{
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        gap: 0;
        background-color: #fff;
        text-align: left;
        box-shadow: 0 4px 4px #000;
        top: 100%;
        transition: 1s ease;
    }
    header .hide-bar{
        display: none;
    }
    header .nav-bar a{
        padding: 10px;
        border-left:  2px solid #fe5b3d;
        margin: 10px;
        display: block;
    }
    header .nav-bar a:hover::after{
        width: 0;
    }
    header .nav-bar a:hover{
        background-color: #fe5b3d;
    }
    .home .text h3{
        font-size: 28px;
    }
    .form {
        position: unset;
    }
    .car-picturs .big-img{
        width: 80%;
        height: 80%;
    }
    .rent-content{
        flex-direction: column;
    }
    .rent-content .car-info ,.rent-content .aside-content{
        width: 100%;
    }
    .rent-content .car-info .details-car{
        font-size: 20px;
    }
}
@media (max-width:660px){
    .home {
      background-position:center ;
    }
    .home .text {
        width: 90%;
    }
    .home .form {
        flex-direction: column;
        width: 70%;
        margin: 300px auto;
    }
    .home .form .input  {
        width: 100%;
    } 
    .home .form .input input {
        width: 90%;
    }
    .home .form button {
        width: 90%;
        margin:10px auto;
    }
    .about .about-img img {
        width: 90%;
    }
    .back-icon i{
        top : 15px ;
        z-index:1001 ;
        font-size: 35px;
    }
    .car-picturs .big-img{
        width: 80%;
        height: 60%;
        margin: 0;
        padding: 0;
    }
    .Rent-page{
        margin-top: 0;
    }
    .rent-content {
        margin-top: 0;
    }
    .alert{
        width: 80%;
        padding: 20px;
        font-size: 20px;
    }
    .background .first-form{
        width: 90%;
    }
    .background .first-form #signin-btn {
        margin: 10px 0;
      }
      .background .first-form .sub {
          font-size: 13px;
      }


}
@media (max-width : 420px){
    header{
        padding: 10px 20px;
    }
    .services .box-car .card:hover {
     scale:1;
    }
    .about .about-content .about-text{
        padding: 20px 10px;
    }
    .foot{
        flex-direction: column-reverse;
        gap: 30px ;
    }
    .back-icon i{
        top: 70px;
        left: 10px;
        z-index: 1;
        font-size: 35px;
    }
    .car-picturs .big-img{
        height: 40%;
    }
    .rent-content{
        padding: 0 35px;
        transform: translateY(-80px);
    }
    .rent-content .car-info .details-car{
        font-size: 16px;
    }
    .alert{
        font-size: 17px;
    }
}